.button {
	cursor: pointer;
	display: inline-block;
	width: 200px;
	height: 50px;
	margin-right: 90px;

	color: $secondaryColor;
	background-color: $primaryColor;
	border: hidden;
	text-align: center;
	line-height: 2;
	font-size: $textMain;
	font-family: $secondaryFont;

	&:hover {
		background-color: $secondaryColor;
		color: $primaryColor;
		transition: background 600ms ease-in-out, color 300ms ease-in-out;
	}

	&--homepage {
		transition: all 500ms ease-in;

		@include mq($max,992px) {

			display: block;
			width: 150px;
			height: 40px;
			margin: 0 auto 1px;
			font-size: 1.2em;
		}

		@include mq($max,490px) {
		}

		&:last-of-type {
			margin-right: 0;

			@include mq($max,992px) {
				margin-right: auto;
			}
		}

		&:hover {
			background: {
				image: url("../images/watercolor-png.png");
				color: transparent;
				size: auto 200%;
				repeat: no-repeat;
				position: center center;
			}
		}
	}

	&--myWork {
		margin: 40px auto 0;
		display: block;

		&:last-of-type {
			margin-right: auto;
		}
	}

	&--contact {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}