.yellow {
	color: $golden;
}

.pinky {
	color: $pink;
}

.purply {
	color: $purple;
}

.quote {
	display: inline-block;
	padding: 5px 10px;
	margin: 1% 0 1% 10%;

	font-size: $textHeading;
	font-family: $secondaryFont;
	color: $secondaryColor;
	background-color: $primaryColor;
	font-style: italic;

	transition: $transition;

	@include mq($max,1366px) {
		font-size: 3em;
	}

	@include mq($max,992px) {
		font-size: 2.5em;
	}

	@include mq($max,490px) {
		font-size: 1.5em;
		margin: 5px 0 0 10px;
	}

	&:hover {
		color: $secondaryColor;
		background-color: $primaryColor;
	}

	&--homepage {
		margin-bottom: 0;
		cursor: default;

		&:hover {
			background: {
				image: url("../images/watercolor-png.png");
				color: transparent;
				size: auto 200%;
				repeat: no-repeat;
				position: center center;

			}
		}
	}
}

.fade-in {
	transition: $transition;
}

.logo {
	position: fixed;
	top: 30px;
	left: 50%;
	z-index: 101;

	&__image {
		display: block;
		top: 5px;
		left: 50%;
		position: absolute;
		transform: translate(-50%,0);
		z-index: 102;
		width: 40px;
		height: 60px;
	}

	&__background {

		&:after {
			transform-origin: 0;
			top: 0;
			content: "";
			position: absolute;
			width: 70px;
			height: 70px;
			background: white;
			transform: rotate(45deg) translate(-50%,0);
			box-shadow: 0 0 10px black;
		}
	}
}

.input {
	padding: 2px 0 0 10px;
}

.nostyle {
	text-decoration: none;
	color: inherit;
}