.gallery {

	&__wrapper {
		margin-top: 47px;
	}

	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		display: none;
		background: rgba(0, 0, 0, .5);

		&__p {
			top: 50%;
			left: 50%;
			@include center;
			position: relative;
			margin: 0;
			text-align: center;
			color: $secondaryColor;
			font-size: 3em;
			font-style: italic;
			font-family: $primaryFont;
		}
	}

	&__image {
		height: 350px;
		background: {
			position: center center;
			size: cover;
		};
	}

}

.popup {
	display: none;
	top: 0;
	z-index: 32;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.75);
}

.popup-img {
	z-index: 33;
	display: none;
	position: absolute;
	width: auto;
	max-height: 90vh;
	max-width: 1100px;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: white;
}