.about {
	max-height: 1360px;
	margin-top: -200px;
	z-index: -100;
	position: absolute;
	overflow: hidden;
	width: 50%;

	@include mq($max,1680px) {
		width: 50%;
	}

	@include mq($max,1366px) {
		width: 50%;
	}

	@include mq($max,480px) {
		display: none;
	}


	&__me {
		margin: 150px auto 100px;
		opacity: 0;
		z-index: -1;
		background-color: $secondaryColor;
		width: 40%;
		padding: 40px;
		text-align: justify;
		box-shadow: $shadow;

		@include mq($max,1367px) {
			width: 60%;
		}

		@include mq($max,920px) {
			width: 70%;
		}

		@include mq($max,420px) {
			width: 80%;
		}

		@include mq($max,370px) {
			width: 80%;
		}
	}

	&--right {
		opacity: 0;
		right: 0;

	}

	&--left {
		opacity: 0;
	}

	&__image {
		height: 1500px;

		@include mq($max,1680px) {
			height: 1300px;
		}

		@include mq($max,1367px) {
			height: 1280px;
		}

		&--decoration {
			z-index: 1;
			position: relative;
			opacity: 0;
			width: 100%;
		}

		&--bottom {
		}

		&--top {
		}
	}
}

.flipX {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.flipY {
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}