$textMain: 26px;
$textParagraph: 35px;
$textHeading: 55px;

$primaryColor: black;
$secondaryColor: white;
$golden: #ba9634;
$purple: #934cc9;
$pink: #f2599b;
$yellow: yellow;

$primaryFont: "Mongolian Baiti","sans-serif";
$secondaryFont: "Consolas", "sans-serif";

$shadow: 2px 2px 20px black;

$transition:  all 500ms ease-in-out;

$centre:translate(-50%,-50%);