/*! Flickity v2.0.5
http://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button:hover {
  background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F; }

.flickity-prev-next-button:active {
  opacity: 0.6; }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto; }

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-prev-next-button .arrow {
  fill: #333; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

[class*='column-'] {
  float: left;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  min-height: 1px;
  padding: auto 1em auto 1em;
  width: 100%; }
  [class*='column-']:after, [class*='column-']:before {
    margin: 0;
    padding: 0; }
  [class*='column-']:after {
    clear: both; }

@media only screen {
  .column-micro-1 {
    width: 8.33333%; }
  .column-micro-2 {
    width: 16.66667%; }
  .column-micro-3 {
    width: 25%; }
  .column-micro-4 {
    width: 33.33333%; }
  .column-micro-5 {
    width: 41.66667%; }
  .column-micro-6 {
    width: 50%; }
  .column-micro-7 {
    width: 58.33333%; }
  .column-micro-8 {
    width: 66.66667%; }
  .column-micro-9 {
    width: 75%; }
  .column-micro-10 {
    width: 83.33333%; }
  .column-micro-11 {
    width: 91.66667%; }
  .column-micro-12 {
    width: 100%; } }

@media only screen and (min-width: 479px) {
  .column-tiny-1 {
    width: 8.33333%; }
  .column-tiny-2 {
    width: 16.66667%; }
  .column-tiny-3 {
    width: 25%; }
  .column-tiny-4 {
    width: 33.33333%; }
  .column-tiny-5 {
    width: 41.66667%; }
  .column-tiny-6 {
    width: 50%; }
  .column-tiny-7 {
    width: 58.33333%; }
  .column-tiny-8 {
    width: 66.66667%; }
  .column-tiny-9 {
    width: 75%; }
  .column-tiny-10 {
    width: 83.33333%; }
  .column-tiny-11 {
    width: 91.66667%; }
  .column-tiny-12 {
    width: 100%; } }

@media only screen and (min-width: 767px) {
  .column-small-1 {
    width: 8.33333%; }
  .column-small-2 {
    width: 16.66667%; }
  .column-small-3 {
    width: 25%; }
  .column-small-4 {
    width: 33.33333%; }
  .column-small-5 {
    width: 41.66667%; }
  .column-small-6 {
    width: 50%; }
  .column-small-7 {
    width: 58.33333%; }
  .column-small-8 {
    width: 66.66667%; }
  .column-small-9 {
    width: 75%; }
  .column-small-10 {
    width: 83.33333%; }
  .column-small-11 {
    width: 91.66667%; }
  .column-small-12 {
    width: 100%; } }

@media only screen and (min-width: 991px) {
  .column-medium-1 {
    width: 8.33333%; }
  .column-medium-2 {
    width: 16.66667%; }
  .column-medium-3 {
    width: 25%; }
  .column-medium-4 {
    width: 33.33333%; }
  .column-medium-5 {
    width: 41.66667%; }
  .column-medium-6 {
    width: 50%; }
  .column-medium-7 {
    width: 58.33333%; }
  .column-medium-8 {
    width: 66.66667%; }
  .column-medium-9 {
    width: 75%; }
  .column-medium-10 {
    width: 83.33333%; }
  .column-medium-11 {
    width: 91.66667%; }
  .column-medium-12 {
    width: 100%; } }

@media only screen and (min-width: 1199px) {
  .column-large-1 {
    width: 8.33333%; }
  .column-large-2 {
    width: 16.66667%; }
  .column-large-3 {
    width: 25%; }
  .column-large-4 {
    width: 33.33333%; }
  .column-large-5 {
    width: 41.66667%; }
  .column-large-6 {
    width: 50%; }
  .column-large-7 {
    width: 58.33333%; }
  .column-large-8 {
    width: 66.66667%; }
  .column-large-9 {
    width: 75%; }
  .column-large-10 {
    width: 83.33333%; }
  .column-large-11 {
    width: 91.66667%; }
  .column-large-12 {
    width: 100%; } }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.background-image {
  height: 900px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -10; }
  @media screen and (max-width: 1366px) {
    .background-image {
      height: 800px; } }
  @media screen and (max-width: 992px) {
    .background-image {
      height: 630px; } }
  @media screen and (max-width: 490px) {
    .background-image {
      height: 350px; } }
  .background-image__overlay {
    position: absolute;
    padding: 140px 0 0 8%;
    min-height: 200px;
    width: 80%;
    z-index: 10; }
    @media screen and (max-width: 1366px) {
      .background-image__overlay {
        padding: 120px 0 0 4%; } }
    @media screen and (max-width: 992px) {
      .background-image__overlay {
        padding: 100px 0 0 3%; } }
    @media screen and (max-width: 490px) {
      .background-image__overlay {
        padding: 90px 0 0 4%; } }

.main-carousel {
  z-index: -200;
  height: 900px; }
  @media screen and (max-width: 1366px) {
    .main-carousel {
      height: 800px; } }
  @media screen and (max-width: 992px) {
    .main-carousel {
      height: 630px; } }
  @media screen and (max-width: 490px) {
    .main-carousel {
      height: 350px; } }

li {
  display: inline-block; }
  li:last-of-type {
    margin-right: 100px; }
    @media screen and (max-width: 1680px) {
      li:last-of-type {
        margin-right: 30px; } }

.navigation {
  position: fixed;
  display: block;
  top: 0;
  z-index: 100;
  padding-top: 20px;
  width: 100%;
  height: 45px;
  background-color: white;
  font-family: "Mongolian Baiti", "sans-serif";
  font-size: 26px;
  text-align: right;
  box-shadow: 2px 2px 20px black; }
  .navigation__wrap {
    margin: 0; }
    @media screen and (max-width: 1025px) {
      .navigation__wrap {
        display: none; } }
  .navigation__left {
    left: 0; }
  .navigation__elements {
    padding: 10px 20px;
    margin: 0 25px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: all 500ms ease-in-out; }
    @media screen and (max-width: 1680px) {
      .navigation__elements {
        font-size: 20px; } }
    @media screen and (max-width: 1366px) {
      .navigation__elements {
        font-size: 16px;
        margin-right: 5px; } }
    .navigation__elements:hover {
      background-color: black;
      color: white;
      transition: all 500ms ease-in-out; }

.burgerMenu {
  color: black;
  position: fixed;
  display: none;
  right: 0;
  margin: 5px 50px; }
  @media screen and (max-width: 1025px) {
    .burgerMenu {
      display: block;
      z-index: 100; } }

.box-shadow-menu {
  position: fixed;
  padding: 0 32px 29px 0; }

.box-shadow-menu:before {
  content: "";
  position: fixed;
  width: 2em;
  height: 0.3em;
  background: black;
  box-shadow: 0 0.5em 0 0 black, 0 1em 0 0 black, 0 1.5em 0 0 black; }

.dropdown__wrap {
  display: inline-block;
  z-index: 101; }

.dropdownItems {
  right: 0;
  margin: 50px 50px;
  display: none;
  position: fixed;
  text-align: center;
  text-transform: capitalize;
  z-index: 101;
  min-width: 160px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.5); }
  .dropdownItems__item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white; }
    .dropdownItems__item:hover {
      background-color: black;
      color: white; }

.gallery__wrapper {
  margin-top: 47px; }

.gallery__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.5); }
  .gallery__overlay__p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: relative;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 3em;
    font-style: italic;
    font-family: "Mongolian Baiti", "sans-serif"; }

.gallery__image {
  height: 350px;
  background-position: center center;
  background-size: cover; }

.popup {
  display: none;
  top: 0;
  z-index: 32;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75); }

.popup-img {
  z-index: 33;
  display: none;
  position: absolute;
  width: auto;
  max-height: 90vh;
  max-width: 1100px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: white; }

.button {
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-right: 90px;
  color: white;
  background-color: black;
  border: hidden;
  text-align: center;
  line-height: 2;
  font-size: 26px;
  font-family: "Consolas", "sans-serif"; }
  .button:hover {
    background-color: white;
    color: black;
    transition: background 600ms ease-in-out, color 300ms ease-in-out; }
  .button--homepage {
    transition: all 500ms ease-in; }
    @media screen and (max-width: 992px) {
      .button--homepage {
        display: block;
        width: 150px;
        height: 40px;
        margin: 0 auto 1px;
        font-size: 1.2em; } }
    .button--homepage:last-of-type {
      margin-right: 0; }
      @media screen and (max-width: 992px) {
        .button--homepage:last-of-type {
          margin-right: auto; } }
    .button--homepage:hover {
      background-image: url("../images/watercolor-png.png");
      background-color: transparent;
      background-size: auto 200%;
      background-repeat: no-repeat;
      background-position: center center; }
  .button--myWork {
    margin: 40px auto 0;
    display: block; }
    .button--myWork:last-of-type {
      margin-right: auto; }
  .button--contact {
    display: block;
    margin-right: auto;
    margin-left: auto; }

.mainSection {
  position: relative;
  width: 100%;
  background-color: white;
  text-align: center;
  padding-bottom: 50px; }
  @media screen and (max-width: 1366px) {
    .mainSection {
      top: 0; } }
  .mainSection:before {
    z-index: -1;
    position: absolute;
    top: -1px;
    left: 0;
    content: '';
    height: 20px;
    width: 100%;
    box-shadow: 2px 2px 20px black; }

.text--head {
  margin-top: 0;
  font-family: "Consolas", "sans-serif";
  font-size: 55px;
  text-transform: capitalize;
  color: black;
  padding-top: 90px; }
  @media screen and (max-width: 1366px) {
    .text--head {
      font-size: 2.5rem; } }
  @media screen and (max-width: 992px) {
    .text--head {
      font-size: 2rem; } }
  @media screen and (max-width: 490px) {
    .text--head {
      padding-top: 50px; } }

.text--paragraph {
  margin: 70px 0 70px;
  font-family: "Mongolian Baiti", "sans-serif";
  font-size: 35px; }
  @media screen and (max-width: 1366px) {
    .text--paragraph {
      font-size: 2.5em; } }
  @media screen and (max-width: 992px) {
    .text--paragraph {
      font-size: 1.5em; } }
  @media screen and (max-width: 490px) {
    .text--paragraph {
      margin: 30px 0 30px; } }

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../images/stars.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-transform: scale(1.1); }

.contact__wrapper {
  position: absolute;
  top: 55% !important;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: black;
  padding: 1% 0 5%;
  width: 100%; }

.contact--head {
  padding: 5px 0;
  width: 100%;
  transform: translate(0, -100%);
  text-align: center;
  color: white;
  background-color: black; }

.container {
  margin: 0 30%; }
  @media screen and (max-width: 1220px) {
    .container {
      margin: 0 10%; } }

.container form input,
.container form textarea {
  width: 100%;
  height: 30px;
  font-size: 12px;
  color: #999;
  letter-spacing: 1px;
  background: black;
  border: 2px solid #FFF;
  margin-bottom: 20px; }

.message {
  max-height: 200px;
  padding-top: 10px !important;
  min-height: 100px; }

.yellow {
  color: #ba9634; }

.pinky {
  color: #f2599b; }

.purply {
  color: #934cc9; }

.quote {
  display: inline-block;
  padding: 5px 10px;
  margin: 1% 0 1% 10%;
  font-size: 55px;
  font-family: "Consolas", "sans-serif";
  color: white;
  background-color: black;
  font-style: italic;
  transition: all 500ms ease-in-out; }
  @media screen and (max-width: 1366px) {
    .quote {
      font-size: 3em; } }
  @media screen and (max-width: 992px) {
    .quote {
      font-size: 2.5em; } }
  @media screen and (max-width: 490px) {
    .quote {
      font-size: 1.5em;
      margin: 5px 0 0 10px; } }
  .quote:hover {
    color: white;
    background-color: black; }
  .quote--homepage {
    margin-bottom: 0;
    cursor: default; }
    .quote--homepage:hover {
      background-image: url("../images/watercolor-png.png");
      background-color: transparent;
      background-size: auto 200%;
      background-repeat: no-repeat;
      background-position: center center; }

.fade-in {
  transition: all 500ms ease-in-out; }

.logo {
  position: fixed;
  top: 30px;
  left: 50%;
  z-index: 101; }
  .logo__image {
    display: block;
    top: 5px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    z-index: 102;
    width: 40px;
    height: 60px; }
  .logo__background:after {
    transform-origin: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background: white;
    transform: rotate(45deg) translate(-50%, 0);
    box-shadow: 0 0 10px black; }

.input {
  padding: 2px 0 0 10px; }

.nostyle {
  text-decoration: none;
  color: inherit; }

.about {
  max-height: 1360px;
  margin-top: -200px;
  z-index: -100;
  position: absolute;
  overflow: hidden;
  width: 50%; }
  @media screen and (max-width: 1680px) {
    .about {
      width: 50%; } }
  @media screen and (max-width: 1366px) {
    .about {
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .about {
      display: none; } }
  .about__me {
    margin: 150px auto 100px;
    opacity: 0;
    z-index: -1;
    background-color: white;
    width: 40%;
    padding: 40px;
    text-align: justify;
    box-shadow: 2px 2px 20px black; }
    @media screen and (max-width: 1367px) {
      .about__me {
        width: 60%; } }
    @media screen and (max-width: 920px) {
      .about__me {
        width: 70%; } }
    @media screen and (max-width: 420px) {
      .about__me {
        width: 80%; } }
    @media screen and (max-width: 370px) {
      .about__me {
        width: 80%; } }
  .about--right {
    opacity: 0;
    right: 0; }
  .about--left {
    opacity: 0; }
  .about__image {
    height: 1500px; }
    @media screen and (max-width: 1680px) {
      .about__image {
        height: 1300px; } }
    @media screen and (max-width: 1367px) {
      .about__image {
        height: 1280px; } }
    .about__image--decoration {
      z-index: 1;
      position: relative;
      opacity: 0;
      width: 100%; }

.flipX {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

.flipY {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }
