.mainSection {
	background-color: $secondaryColor;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
	text-align: center;
	width: 100%;
	box-shadow: $shadow;
	padding-bottom: 50px;
}

.text {

	&--head {
		font-family: $secondaryFont;
		font-size: $textHeading;
		text-transform: capitalize;
		margin: 30px 0 0 0;
		color: $primaryColor;
	}

	&--paragraph {
		margin: 15px 0 30px;
		font-family: $primaryFont;
		font-size: $textParagraph;
	}
}

.buttonSection {
	margin-bottom: 20px;
}