$textMain: 26px;
$textParagraph: 35px;
$textHeading: 55px;
$primaryColor: black;
$secondaryColor: white;
$primaryFont: "Mongolian Baiti","sans-serif";
$secondaryFont: "Consolas", "sans-serif";
$shadow: 2px 2px 20px #888888;
$golden: #ba9634;
$purple: #934cc9;
$pink: #f2599b;